@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: $magnolia;
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 16px;

  button{
    cursor: pointer;
  }
}