@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: $pastel-blue;
  padding: 0px 16px;

  main{
    margin: 0px auto;
    max-width: 400px;

    .main-container{
      min-height: 480px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  button{
    cursor: pointer;
  }
}