@import "../../../../styles/variables.scss";

.resume-plan-card{
  background-color: $alabaster;
  border-radius: $br-md;
  padding: 16px;
  margin: 22px 0px;

  display: flex;
  flex-direction: column;

  hr{
    border: 1px solid $cool-gray;
    opacity: 0.3;
    margin: 12px 0px;
    padding: 0px 16px;
  }
  
  .submited-plan{
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span{
        color: $marine-blue;
        font-size: 14px;
        font-weight: 500;
      }

      button{
        background-color: transparent;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-decoration-line: underline;
        color: $cool-gray;
      }
    }

    .resume-plan-total{
      color: $marine-blue;
      font-weight: 700;
      font-size: 14px;
    }

  }

  .addons-container{
    display: flex;
    flex-direction: column;

    .addon-opt-card{
      display: flex;
      justify-content: space-between;

      .addon-opt-title{
        color: $cool-gray;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
      .addon-opt-price{
        color: $marine-blue;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }
}