@import "../../../../styles/variables.scss";

.resume-plan-card{
  background-color: $alabaster;
  border-radius: $br-md;
  padding: 16px;

  display: flex;
  flex-direction: column;
  
  .submited-plan{
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span{
        color: $marine-blue;
        font-size: 14px;
        font-weight: 500;
      }

      button{
        background-color: transparent;
        text-decoration: underline;
        color: $cool-gray;
      }
    }

    .resume-plan-total{
      color: $marine-blue;
      font-weight: 700;
      font-size: 14px;
    }

  }
}