@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.addon-card{
  border: 1px solid $light-gray;
  border-radius: $br-md;
  padding: 16px;

  display: flex;
  align-items: center;
  gap: 16px;

 .custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid $purplish-blue;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  
  &:checked{
    background-color: $purplish-blue;
    border-color: $purplish-blue;
    background-image: url("../../../assets/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

  div{
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .addon-title{
    color: $marine-blue;
    font-size: 14px;
    font-weight: 500;
  }

  .addon-description{
    color: $cool-gray;
    font-size: 12px;
    font-weight: 400;
  }

  .addon-price{
    color: $purplish-blue;
    font-size: 12px;
    font-weight: 400;
  }

  &.addon-active{
    border: 1px solid $purplish-blue;
  }
}




 
